.main-banner{
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    .banner-masking{
        padding: 50px 0;
        background-image: linear-gradient(to top, #000000, 40%, rgba(0, 0, 0, 0));

        .valign-banner{
            text-align: center;
            color: #fff;
            h4{
                margin-bottom: 5px;
            }
        }
    }

    .brand{
        margin: 0 0 10px 0;
        border-radius: 3px;
        background-color: #fff;
        max-width: 100px;
    }
}